<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Booklist</title>
</head>
<body>
	<h2>Add new book to list</h2>
	
	<form action="#" th:action="@{save}" th:object="${book}" method="post">
	
		<p>Title: <input type="text" th:field="*{title}" /></p>
		<p>Author: <input type="text" th:field="*{author}" /></p>
		<p>Year: <input type="number" th:field="*{year}" /></p>
		<p>ISBN: <input type="text" th:field="*{isbn}" /></p>
		<p>Price: <input type="text" th:field="*{price}" /></p>
		<p><input type="submit" value="Submit" /></p>
	
	</form>
	
</body>
</html>